<!--
<h1>Upload File</h1>
<form method="post" action="" id="upload_file">
    <label for="title">Title</label>
    <input type="text" name="title" id="title" value="" ng-model="data.title"/>

    <label for="userfile">File</label>
    <input type="file" name="productImg" id="productImg" size="20" ng-model="data.productImg" />

    <input type="submit" name="submit" id="submit" ng-click="uploadFile(data)" />
</form>
<h2>Files</h2>
<div id="pimg"></div>
-->

<!-- input type="text" ng-model="data.name" -->
<button type="submit" class="btn btn-primary btn-lg" data-ng-click="productModal('add')">Daftar Produk Baru</button>
<table class="table table-condensed ">
    <thead>
        <tr>
            <th>id</th>
            <th>name</th>
            <th>category</th>
            <th>note</th>
            <th>quantity</th>
            <th>price</th>
            <th>status</th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="i in product" class="repeat-item">
            <td>{{i.id}}</td>
            <td>{{i.name}}</td>
            <td>{{i.category_id}}</td>
            <td>{{i.note}}</td>
            <td>{{i.quantity}}</td>
            <td>{{i.price}}</td>
            <td>{{i.status}}</td>
            <td>
                <button  ng-click="deleteProduct(i.id)" class="btn btn-info" type="button">Delete</button>
            </td>
            <td>
                <button  ng-click="modalProduct('update',i.id)" class="btn btn-info" type="button">update</button>
            </td>
        </tr>
    </tbody>
</table>

<div class="modal {{modaloption}}">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" ng-click="closeModal()" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title">{{action}}</h4>
            </div>
            <div class="modal-body">
                <div class="productForm {{productForm}}">
                    <form role="form">
                        <div class="form-group">
                            <label>name</label>
                            <input type="text" class="form-control" name="name" ng-model="data.name">
                        </div>
                        <div class="form-group">
                            <label>category_id</label>
                            <input type="text" class="form-control" name="category_id" ng-model="data.category_id">
                        </div>
                        <div class="form-group">
                            <label>note</label>
                            <input type="text" class="form-control" name="note" ng-model="data.note">
                        </div>
                        <div class="form-group">
                            <label>quantity</label>
                            <input type="text" class="form-control" name="quantity" ng-model="data.quantity">
                        </div>
                        <div class="form-group">
                            <label>price</label>
                            <input type="text" class="form-control" name="price" ng-model="data.price">
                        </div>
                        <div class="form-group">
                            <label>status</label>
                            <input type="text" class="form-control" name="status" ng-model="data.status">
                        </div>
                        <button type="submit" ng-click="saveProduct(data,add)" class="btn btn-primary">submit</button>
                     </form>
                </div>
            <div class="modal-footer">
                <button type="button" ng-click="closeModal()" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>